<table style="border-collapse: collapse; empty-cells: show; text-align: right; border: 1px solid #ccc; margin: 0 0 5px; padding: 0; font-size: .8em;">
  <thead>
    <tr style="border-bottom: 1px solid #ccc;">
      <td style="padding: 3px 10px;"><strong>{{ prior.items[0].date | date:'yyyy' }}</strong></td>
      <td style="padding: 3px 10px;"><strong>Usage</strong></td>
      <td style="padding: 3px 10px;"><strong>Solar PV</strong></td>
      <td style="padding: 3px 10px;"><strong>Net usage <br>or <span style="color: #ff0000;">(surplus)</span></strong></td>
      <td style="padding: 3px 10px;"><strong>Avg. <br>daily usage</strong></td>
      <td style="padding: 3px 10px;"><strong>HDD</strong></td>
    </tr>
    <tr style="border-bottom: 1px solid #ccc;">
      <td style="padding: 3px 10px;"><strong>Total</strong></td>
      <td style="padding: 3px 10px;"><strong>{{prior.totals.used | number:0}}</strong></td>
      <td style="padding: 3px 10px;"><strong>{{-prior.totals.solar | number:0}}</strong></td>
      <td style="padding: 3px 10px;"><strong><span ng-if="prior.totals.net<0" style="color: #ff0000;">({{ -prior.totals.net | number:0 }})</span><span ng-if="prior.totals.net>=0" >{{ prior.totals.net | number:0 }}</span></strong></td>
      <td style="padding: 3px 10px;"><strong>{{prior.totals.adu | number:1}}</strong></td>
      <td style="padding: 3px 10px;"><strong>{{prior.totals.hdd | number:0}}</strong></td>
    </tr>
  </thead>
  <tbody>
    <tr style="border-bottom: 1px solid #ccc;" ng-repeat="item in prior.items"><!-- repeat -->
      <td style="padding: 3px 10px; text-align: left;"><a href="http://netplusdesign.com/#/days/summary?house={{house}}&date={{item.date | date:'yyyy-MM'}}" target="_blank">{{ item.date | date:"MMM" }}</a></td>
      <td style="padding: 3px 10px;">{{item.used | number:0}}</td>
      <td style="padding: 3px 10px;">{{-item.solar | number:0}}</td>
      <td style="padding: 3px 10px;"><span ng-if="item.net<0" style="color: #ff0000;">({{ -item.net | number:0 }})</span><span ng-if="item.net>=0" >{{ item.net | number:0 }}</span></td>
      <td style="padding: 3px 10px;">{{item.adu | number:1}}</td>
      <td style="padding: 3px 10px;">{{item.hdd | number:0}}</td>
    </tr><!-- /repeat -->
  </tbody>
</table>
<table style="border-collapse: collapse; empty-cells: show; text-align: right; border: 1px solid #ccc; margin: 0 0 5px; padding: 0; font-size: .8em;">
  <thead>
    <tr style="border-bottom: 1px solid #ccc;">
      <td style="padding: 3px 10px;"><strong>{{ current.items[0].date | date:'yyyy' }}</strong></td>
      <td style="padding: 3px 10px;"><strong>Usage</strong></td>
      <td style="padding: 3px 10px;"><strong>Solar PV</strong></td>
      <td style="padding: 3px 10px;"><strong>Net usage <br>or <span style="color: #ff0000;">(surplus)</span></strong></td>
      <td style="padding: 3px 10px;"><strong>Avg. <br>daily usage</strong></td>
      <td style="padding: 3px 10px;"><strong>HDD</strong></td>
    </tr>
    <tr style="border-bottom: 1px solid #ccc;">
      <td style="padding: 3px 10px;"><strong>Total</strong></td>
      <td style="padding: 3px 10px;"><strong>{{current.totals.used | number:0}}</strong></td>
      <td style="padding: 3px 10px;"><strong>{{-current.totals.solar | number:0}}</strong></td>
      <td style="padding: 3px 10px;"><strong><span ng-if="current.totals.net<0" style="color: #ff0000;">({{ -current.totals.net | number:0 }})</span><span ng-if="current.totals.net>=0" >{{ current.totals.net | number:0 }}</span></strong></td>
      <td style="padding: 3px 10px;"><strong>{{current.totals.adu | number:1}}</strong></td>
      <td style="padding: 3px 10px;"><strong>{{current.totals.hdd | number:0}}</strong></td>
    </tr>
  </thead>
  <tbody>
    <tr style="border-bottom: 1px solid #ccc;" ng-repeat="item in current.items"><!-- repeat -->
      <td style="padding: 3px 10px; text-align: left;"><a href="http://netplusdesign.com/#/days/summary?house={{house}}&date={{item.date | date:'yyyy-MM'}}" target="_blank">{{item.date | date:"MMM"}}</a></td>
      <td style="padding: 3px 10px;">{{item.used | number:0}}</td>
      <td style="padding: 3px 10px;">{{-item.solar | number:0}}</td>
      <td style="padding: 3px 10px;"><span ng-if="item.net<0" style="color: #ff0000;">({{ -item.net | number:0 }})</span><span ng-if="item.net>=0" >{{ item.net | number:0 }}</span></td>
      <td style="padding: 3px 10px;">{{item.adu | number:1}}</td>
      <td style="padding: 3px 10px;">{{item.hdd | number:0}}</td>
    </tr><!-- /repeat -->
  </tbody>
</table>
